<!DOCTYPE html>
<html lang="en">
  <head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">

    <script src="https://use.fontawesome.com/53f701fd17.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Cabin|Catamaran:700|Montserrat|Quicksand|Mukta+Mahee|Raleway|Slabo+27px" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <meta charset="utf-8">
  </head>

  <body>
    <main id="root">Underneath React</main>

  </body>



</html>
