/*
 font-family: 'Mukta Mahee', sans-serif;
font-family: 'Slabo 27px', serif;
font-family: 'Raleway', sans-serif;
*/

body {
  height: 100%;
}

button#cmon {
  background: transparent;
  border: transparent;
  outline: none;
  cursor: pointer;
}

h1#my-work {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 62px;
  color: #353535;
  padding-top: 14px;
  padding-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

span#small {
  font-size: 50px;
}

li#list-item {
  padding: 0px 10px 0px 10px;
}

a.navbar-brand {
  padding-top: 12px;
  margin-bottom: 5px;
}

@media only screen and (max-width: 990px)  {
  a.navbar-brand {
    position: absolute;
    top: 10px;
    left: 80px;
  }

  div.expand-effect {
    position: absolute;
    top: 70px;
    left: 20px;
  }

  #name {
    color: lightgrey;
    position: absolute;
    top: 20px;
  }

  div#jt3 {
    position: absolute;
    top: 60px;
  }

  .navbar-collapse {
    min-height: 125px;
  }

  div.dev-container {
    margin-top: 25px;
  }

  div.project-pic {
    height: 50px;
    width: 50px;
  }

}

@media only screen and (max-width: 625px) {
  div.project-links {
    padding-top: 10px;
  }

  h1#my-work {
    font-size: 40px;
    padding-bottom: 8px;
    text-transform: uppercase;
  }

  span#small {
    font-size: 32px;
  }
}

@media (min-width: 990px) {
  #name {
    position: absolute;
    top: 40px;
    z-index: 6;
  }
  div.expand-effect {
    margin-left: 225px;
    margin-top: 10px;
  }
}

@media (min-width: 750px) {
  div#jt3 {
    display: flex;
    align-items: center;
  }
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(241,241,241,0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

nav.navbar.navbar-toggleable-md.navbar-light.bg-faded {
    position: relative;
    z-index: 5;
    background: transparent;
    padding: 20px;
    border: 1px solid transparent;
}

.navbar-light .navbar-brand, .navbar-light .navbar-toggler {
    color: #f7f7f7;
    font-size: 18px;

    letter-spacing: 1px;
    font-family: 'Quicksand', sans-serif;
}

#logo:hover {
  opacity: 0.7;
  color: lightgrey;
}

span#name {
  color: #efefef;
}

span#name:hover, span#name:active, span#name:focus {
  color: lightgrey;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.stars, .twinkling, .live-coding {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.live-coding {
  background: url('fractal.png') repeat top center;
  opacity: 0.7;
  min-height: 1700px;
}



div.test-prep {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 600px;
}

.test {
  color: #353535;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 40px;
}


.stars {
  background:#000 url('stars.png') repeat top center;
  z-index:0;
}



.twinkling{
  background: transparent url('original.png') repeat top center;
  transition-delay: 1s;
  z-index:1;

  -moz-animation:move-twink-back 400s linear infinite;
  -ms-animation:move-twink-back 400s linear infinite;
  -o-animation:move-twink-back 400s linear infinite;
  -webkit-animation:move-twink-back 400s linear infinite;
  animation:move-twink-back 400s linear infinite;
}

div#navbarNavAltMarkup {
  background-color: transparent;

}


ul.nav.navbar-nav li a {
  color: #f4f4f4;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.expand-effect li a::before,
.expand-effect li a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
    color: white;
    text-decoration: none;
}

.expand-effect a::before {
	margin-right: 5px;
	content: '[';
	-webkit-transform: translateX(25px);
	-moz-transform: translateX(25px);
	transform: translateX(25px);
    color: white;
}

.expand-effect a::after {
	margin-left: -1px;
	content: ']';
	-webkit-transform: translateX(-18px);
	-moz-transform: translateX(-18px);
	transform: translateX(-18px);
  color: white;
}

.expand-effect a:hover::before,
.expand-effect a:hover::after,
.expand-effect a:focus::before,
.expand-effect a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
  color: white;
}

div.dev-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 4;
}

div.profile-container {
  display: inline;
  max-width: 550px;
  padding-bottom: 10px;
}

p.lead {
  color: #efefef;
  font-family: 'Mukta Mahee', sans-serif;
}


div.contact-info p {
  color: #efefef;
  font-size: 16px;
  font-family: 'Mukta Mahee', sans-serif;
}

#email {
  color: #efefef;
  cursor: pointer;
}


#email:hover {
  color: lightgrey;
  text-decoration: none !important;
  outline: none;
}

span#phone:hover {
  color: lightgrey;
}

i#phone:hover {
  color: lightgrey;
}

a.external-link {
  text-decoration: none;
  color: #efefef;
}

a.external-link:hover {
  color: lightgrey;
}

div#jt3 {
  position:relative;
  z-index:3;
  margin-left: 10%;
  margin-right: 10%;
  max-height: 550px;
  background-color: transparent;
  background: transparent;
}

div.self-image {
  background-image: url('face.png');
  background-size: cover;
  background-position: center;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid lightgrey;
  margin-right: 15px;
  margin-bottom: 15px;
}

div.contact-info {
  padding-left: 5px;
  min-width: 250px;
}


div#js {
  height: 25px;
  width: 25px;
  background: #245 url("js-logo.png");
  background-size: cover;
}

div.card {
  width: 80%;
  max-width: 750px;
  min-width: 315px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border: 2px solid transparent;
  border-radius: 1px;
  background-color: #fcfcfc;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
}

div.card:hover {
  background-color: #efefef;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

div.project-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

div.card-block {
  display: flex;
  align-items: center;
  padding: .6rem;
}

.card-link i:hover {
  opacity: 0.8;
  cursor: pointer;
}

div.top-box {
  display: block;
  padding: 3px;
}

div.project-pic {
  height: 75px;
  width: 75px;
  border: 5px solid #BDCCC8;
  border-radius: 2px;
  box-shadow: 0 1px 0 lightgrey;
}

div#achlls {
  background: url("icons/achlls.png");
  background-size: cover;
}

div#indieclono {
  background: url("icons/indieclono1.png");
  background-size: cover;
}

div#exchanger {
  background: url("icons/exchanger.png");
  background-size: cover;
}

div.project-tagline {
  padding-left: 10px;
  display: block;
  width: 100%;
}

a.card-link {
  color: black;
}

p.card-text {
  font-family: 'Raleway', sans-serif;
  margin-top: 5px;
  margin-bottom: 12px;
  color: #636363;
}

h4.card-title {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
  color: #353535;
}

h6 {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  color: #e2e2e2;
  font-size: 14px;
}

h6.card-subtitle.mb-2.text-muted {
    margin: 7px 0px 0px 0px;
}

nav#dev {
  position: fixed;
  width: 100%;
  min-height: 80px;
  background-image: -webkit-linear-gradient(left,#06BC9B,#1ba49c);
 transition: opacity .5s ease-in;
  background-color: #06BC9B;
    transition-duration: 1s;
  border: 1px solid transparent;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);

}

div#sidebar-item {
  background-color: #f5f6f7;
  padding: 20px;
  border: 2px solid transparent;
  border-radius: 1px;
  margin-bottom: 15px;
  min-width: 375px;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);

}
h2.services-title {
  color: #1ba49c;
      text-align: center;
}

h2.services-title:hover {

  color: #06BC9B;
}

hr#divider {
  border-color: #06BC9B;
  color:#06BC9B;
}
i.fa.fa-certificate {
  color:#06BC9B;
  padding-left: 10px;
}

div.services-list-item {
  padding-bottom: 12px;
}

.services-list-item span {
  color: #525d68;
  font-family: 'Montserrat';
  font-size: 18px;
  padding-left: 10px;
}

.services-list-item span:hover {
  color: #06BC9B;
}

ul#tests {
  display: flex;
  margin: 0px;
  padding-left: 35px;
}

ul#tests li {
  padding-right: 10px;
  list-style: none;
  font-size: 18px;
  color: #878787;
}

ul#tests li:hover{
  color: #06ddb6;
}

.mock {
    background-image: -webkit-linear-gradient(left,#06BC9B,#1ba49c);
    background-color: #06BC9B;
}

div#navbar-container {
  max-height: 167px !important;
    overflow: hidden;
}


nav.navbar.navbar-toggleable-md.navbar-light.bg-faded {
  min-height: 100px;
  transition-duration: 1s;
}

nav#dev {
  transition-duration: 1s;
}


ul#class-rates {
  list-style: none;
  list-style-position:inside;
  margin:0;
  padding: 0px 4px 0px 4px;
  margin-left: 6%;
  margin-right: 6%;
}


ul#class-rates li {
  list-style: none;
  font-size: 16px;
  padding:0px 10px 0px 10px;
  display: flex;
  justify-content: space-between;

    align-items: center;
  list-style-position:inside;
        margin:0;
        padding:0;

}

span#hour {
  font-size: 12px;
  margin: 0;
  padding-left: 2px;
}

span#money-sign {
  font-size: 12px;
  color: #878787;
}

span.money span {
    margin: 0px;
    padding: 0px 0px 0px 2px;
}

span.money:hover {
  color: #06ddb6 !important;
}

span#class-count {
  font-size: 16px;
}
ul#class-rates span {
  color: #878787;
}

@media only screen and (max-width: 435px) {
  ul#class-rates {
    margin-left: 1%;
    margin-right: 1%;
  }
}

#cl-effect-4 a {
  position: relative;
display: inline-block;
margin: 15px 25px;
outline: none;
color: black;
text-decoration: none;
text-transform: uppercase;
letter-spacing: 1px;
font-weight: 400;
text-shadow: 0 0 1px rgba(255,255,255,0.3);
font-size: 1.35em;
height: 5px;
opacity: 1;
-webkit-transform: translateY(0px);
-moz-transform: translateY(0px);
transform: translateY(0px);
}

#cl-effect-4 a::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    color: black;
        padding: 0 0 10px;
    background: black;
    content: '';
    opacity: 0;
    -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  div.teach-container {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  div#teach-text {
      margin-top: 132px;
  }
@media (min-width: 751px) {

  div#teach-text {
    display: flex;

    margin-left: 5%;
    justify-content: space-around;
    margin-right: 5%;
  }
}

div.test-prep-bio-container {
  border: 1px solid transparent;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
  background-color: #f5f6f7;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  padding: 5px;
  max-width: 765px;
  min-width: 350px;
  padding: 18px;
  height: 100%;
}

@media only screen and (max-width: 900px) {
  div#sidebar {
  }

  div#sidebar-item {
    margin: 20px;
    min-width: 400px;
  }
}

span#class-notes {
    font-size: 15px;
    color: #a5a5a5;
}

ul#class-footnotes li {
  font-size: 13px;
  color: #afafaf;
  list-style: none;
  margin-left: -6px;
}

ul#class-footnotes li:hover {
  color: #06BC9B;
}

ul#class-rates li span:hover {
  color: #06BC9B;
}

ul#test-prep-assumptions li {
  list-style: none;
  margin-left: -10px;
  margin-bottom: 8px;
}

span#assumption {
  padding: 5px;
}


p#test-prep-quote {
  font-family: 'Lato', sans-serif;
  font-size: 34px;
  font-weight: 700;
  margin: 15px 15px 15px 15px;
  text-align: center;
  color: #05a88a;
}

p#test-prep-context {
    margin-left: 20px;
    color: #878787;
    margin-right: 20px;
}

div#student-testimonies {
  display: flex;
  padding: 15px;
  border: 1px solid transparent;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
  background-color: #f5f6f7;
  width: 80%;
  max-width: 1000px;
}

div.carousel-item {
  height: 300px;
  width: 400px;
}
