<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="https://res.cloudinary.com/dn4jhnh54/image/upload/e_negate/v1503777268/aaron-logo1_qxqqek.png">
    <title>aaronbnb</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
